<?php
// Connect to database
$host = 'localhost';
$user = '';
$pass = '';
$db   = '5x5';

$db = new mysqli($host, $user, $pass, $db);

$view_path = 'application/views/';


// Timezone
date_default_timezone_set('Australia/Sydney');

session_start();


// Load a simple autoloader
require_once('core/Loader.php');

$user = new core\User;