<?php
// Connect to database
$host = 'localhost';
$user = '';
$pass = '';
$database = '5x5';

$view_path = 'application/views/';

// Timezone
date_default_timezone_set('Australia/Sydney');

//Start session
session_start();

// Load a simple autoloader
require_once 'core/Loader.php';

$db = new mysqli($host, $user, $pass, $database);
$user = new core\User($db);
$workout = new core\Workout($db, $user);
