@import "manager/header";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open sans", sans-serif;
    background: #e5eAee;
}
    
footer {
    font-size: 13px;
    padding: 36px 18px;
    border-top: 1px solid #ccc;
    text-align: center;
    }
    
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h4 {
    margin-bottom: 1em;
}
    
ol {
    margin: 0 0 0 20px;
    }
    
ol li {
    margin-bottom: 1em;
    margin-left: 1em;
    }
    
p {
    margin-bottom: 10px;
    }

a {
    color: #000;
}
    
.center {
    text-align: center;
    }
    
.wrapper {
    max-width: 100%;
    margin: 0 auto; 
}

.list {
    margin: 0 18px 0;
    }
    
.list li {
    margin: 0 0 10px;
    }
    
.userSign {
    float: right;
}

.userSign li {
    display: inline-block;
}

.userSign li a {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
    font-size: 14px;
    }
    
.userSign li a:hover {
    background-color: #333;
    color: #fff;
    }
    
.block-button {
    background-color: #287ee8;
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: 600;
    padding: 0 10px;
    height: 45px;
    border-radius: 3px;
    border: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    
    text-decoration: none;
    margin: 0 auto;
    width: 200px;
    }
    
/*
 * Content
 */  
#content {
    margin: 0 0 0 300px;
    }
    
#content .padding {
    padding: 1em;
    }
    
.row:after {
    clear: both;
    display: table;
    content: "";
    }

.page-title {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 1em;
    text-transform: uppercase;
}

// Actions
.delete {
    float: right;
    font-size: .85em;
    font-weight: 600;
}
    
/*
 * Workout
 */
.date {
    padding-top: 1em;
}

.date .text {
    font-size: .85em;
}
    
.excercise {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin: 0 0 18px;
    
    position: relative;
    
    /* Remove text highlight */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
    
.excercise a {
    color: #1963bf;
    text-decoration: none;
    }
    
.excercise a:hover {
    color: #222;
    }
    
.excercise.end {
    margin: 0;
    }
    
.excercise .title {
    padding: .8em 1em;
    margin: 0;
    border-bottom: 1px solid #efefef;
    }

.excercise .title .excercise-name {
    font-weight: 600;
}

.excercise .title .weight {
    font-weight: 600;
}

.excercise .title .weight:focus, .excercise .title .weight:active:focus {
    background: transparent;
    outline: none;
    border: 0;
}
    
.excercise .title .right {
    float: right;
    font-weight: normal;
    }
    
.excercise .sets {
    padding: 1em;
    }
    
.excercise .sets span {
    background: #1963BF;
    border-radius: 50%;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 20px 0 0;
    cursor: pointer;
    
    /* transition effect */
    transition: background .2s;
    -moz-transition: background .2s;
    -webkit-transition: background .2s;
    text-decoration: none;
    }
    
.excercise .sets span:hover {
    background: #4086DC;
    }

#finish {
    overflow: hidden;
    }
    
#finish input[type="submit"] {
    background-color: #333;
    border: 0;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 36px 0;
    width: 100%;
    text-align:center;
    
    /* transition effect */
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    text-decoration: none;
    }
    
#finish input:hover {
    background-color: #666;
    }
    

/**
 * Panel weight box
 */
.panel-box-wrapper {
    display: none;
}

.panel-box-overlay {
    background: rgba(0,0,0,.4);
    position: fixed;
    top: 0;
    left: 0;  
    width: 100%;
    height: 100%; 
    z-index: 2;
}

.panel-box {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    padding: 18px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
}

.panel-box h4 {
    margin-top: 0;
}

.panel-box label {
    display: block;
    font-weight: 600;
    font-size: .85em;
    margin-bottom: .5em;
}

.panel-box .text {
    font-size: .85em;
    margin-bottom: 1em;
}

.panel-box .weight-input {
    display: table;
    width: 100%;
    margin-bottom: 1em;
}

.panel-box .weight-input input {
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 1em;
    padding: 0 1em;
    height: 45px;
    display: table-cell;
    vertical-align: middle;
}

.panel-box .weight-input input {
    width: 70%;
}

.panel-box .weight-input input:first-child {
    border-top-right-radius: 0;  
    border-bottom-right-radius: 0; 
}

.panel-box .weight-input button {
    width: 15%;
    height: 45px;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 3px;
    background: #f7f7f7;
    display: table-cell;
    vertical-align: middle;
}

.panel-box .weight-input button:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.panel-box .weight-input button:not(:last-child):not(:first-child) {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;  
    border-top-right-radius: 0;  
    border-bottom-right-radius: 0;  
} 
    
.panel-box .update-wrapper .update {
    background-color: #383838;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    border: 0;
    font-size: .85em;
    font-weight: 600;
    }
    
.panel-box .submit:hover {
    color: #fff;
    }
    
    
/*
 * Calendar
 */
.calendar-wrapper {
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.calendar-month {
    padding: 1em;
    background: #fff;
    text-align: center;
}

.calendar-month .next {
    float: right;
}

.calendar-month .prev {
    float: left;
}

.calendar-month .next,
.calendar-month .prev {
    display: inline-block;
    border: 1px solid #ccc;
    background: #f7f7f7;
    border-radius: 3px;
    padding: .2em .6em;
    text-decoration: none;
    position: relative;
    top: -3px;
}

.calendar {
    background-color: #efefef;
    border-spacing: 0px;
    margin-bottom: 54px;
    width: 100%;
    }   
    
.calendar th {
    background-color: #5789cd;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    width: 14.2%
    }
    
.calendar td {  
    text-align: center;
    padding: 40px 0;
    width: 14.2%
    }
    
.calendar-day {
    background-color: #fff;
    }
    
.calendar-day.active {
    background-color: #adcaf2;
    }
    
.calendar-day.active a {
    color: #fff;
    font-weight: bold;
    }

/**
 * Workout list
 */
.workout-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.workout-list li {
    display: table;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin: 0 0 .5em;
    padding: 0;
    height: 44px;
    width: 100%;
    position: relative;
}

.workout-list li input {
    opacity: 0;
    position: absolute;
}

.workout-list li label {
    display: table-cell;
    vertical-align: middle;
    padding-left: 60px;
}

.workout-list li label:before {
    content: '';
    display: block;
    height: 44px;
    width: 44px;
    border-right: 1px solid #ddd;
    position: absolute;
    left: 0;
    top: 0;
}

.workout-list li input:checked + label:after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background: #1963BF;
    position: absolute;
    top: 12px;
    left: 12px;
}


@media all and (max-width: 900px) {
    /*
     * Content
     */
    body {
        background-color: #f7f7f7;
    }
    
    header {
        padding-right: 0px;
        }
    
    .backNav {
        display: none;
    }
    
    #nav {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        float: none;
        width: 100%;
        text-align: center;
    }
    
    #content {
        margin: 0;
    }
    
    #nav ul li {
        display: inline-block;
    }
    
    #nav ul li a{
        display: inline-block;
    }
    
    #nav ul li a:hover {
        background-color: #f7f7f7;
        }
        
    .date {
        background-color: #fff;
        }
     
}

@media all and (max-width: 600px) {
    /**
     * Page
     */
    .page-title {
        display: none;
    }

    /**
     * Panel
     */
    .panel-box {
        width: 300px;
    }

    /*
     * User menu
     */
    #drop {
        background: url('../images/hamburger.png') 50% 50% no-repeat;
        background-size: 28px 28px;
        display: block;
        padding: 0 18px;
        height: 50px;
        text-indent: -9999px;
        line-height: 40px;
        }
        
    .userSign {
        float: right;
        overflow: hidden;
        right: 0;
        }
        
    .userSign ul {
        display: none;
        background-color: #222;
        left: 0;
        margin: 0;
        position: absolute;
        width: 100%;
    }
        
    .userSign ul li {
        display: block;
        line-height: 40px;
        width: 100%;
        }
        
    .userSign li a {
        height: none;
        margin: 0;
        padding: 0 18px;
        width: 100%;
        }
        
    #calendar td {  
        font-size: 14px;
        padding: 15px 0;
        }

    /**
     * Excercise
     */
    .excercise .title .right .text {
        display: none;
    }

    .excercise .sets span {
        margin-right: 5px;
    }

    .excercise .sets span:last-child {
        margin: 0;
    }

    /**
     * Calendar
     */
    .calendar td {
        padding: 10px 0;
    }
}
