header {
    background-color: #1963bf;
    color: #fff;
    position: relative;
    height: 50px;
    padding: 0 18px;
    z-index: 4;

    h1 {
        font-size: 16px;
        line-height: 50px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}

// Menu
.backNav {
    background-color: #f7f7f7;
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    }
    
#drop {
    background-size: 14px 13px;
    display: none;
    padding: 0px;
    width: 30px;
    }

// User nav
.userSign {
    float: right;
}

.userSign li {
    display: inline-block;
}

.userSign li a {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
    font-size: 14px;
    }
    
.userSign li a:hover {
    background-color: #333;
    color: #fff;
    }
   
// Nav row 
#nav {
    float: left;
    width: 300px;
    }
    
#nav ul, #nav ul li {
    margin: 0;
    }
    
#nav ul li a {
    color: #666;
    display: block;
    font-weight: 600;
    font-size: .9em;
    padding: 18px 18px;
    margin: 0;
    text-decoration: none;
    }

#nav ul li .ico-workout  {
    background: url('../images/ico-workout.png') 12px 50% no-repeat;
    background-size: 20px 20px;
    padding-left: 42px;
    }
    
    
#nav ul li .ico-workouts  {
    background: url('../images/ico-workouts.png') 12px 50% no-repeat;
    background-size: 20px 20px;
    padding-left: 42px;
    }
    
#nav ul li .ico-calendar  {
    background: url('../images/ico-calendar.png') 12px 50% no-repeat;
    background-size: 20px 20px;
    padding-left: 42px;
    }
    
#nav ul li .ico-workout-info {
    background: url('../images/ico-workout-info.png') 12px 50% no-repeat;
    background-size: 20px 20px;
    padding-left: 42px;
    }
    
#nav ul li a:hover {
    background-color: #efefef;
    }


@media all and (max-width: 900px) {
    // Navigation
    header {
        padding-right: 0px;
        }
    
    .backNav {
        display: none;
    }
    
    #nav {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        float: none;
        width: 100%;
        text-align: center;
    }
    
    #nav ul li {
        display: inline-block;
    }
    
    #nav ul li a{
        display: inline-block;
    }
    
    #nav ul li a:hover {
        background-color: #f7f7f7;
        }
}


@media all and (max-width: 600px) {
    // User nav
    #drop {
        background-size: 28px 28px;
        display: table;       
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 40px;
        }

    .hamburger-wrapper {
        display: table-cell;
        vertical-align: middle;

        .hamburger {
            border-top: 2px solid #fff;
            width: 25px;
            height: 14px;
            display: block;
            position: relative;
            margin: 0 auto;

            &:before {
                content: '';
                display: block;
                border-bottom: 2px solid #fff;    
                top: 4px;
                width: 100%;
                position: absolute;
            }

            &:after {
                content: '';
                display: block;
                border-bottom: 2px solid #fff;    
                bottom: 0;
                width: 100%;
                position: absolute;
            }
        }
    }
        
    .userSign {
        float: right;
        overflow: hidden;
        right: 0;
        }
        
    .userSign ul {
        display: none;
        background-color: #222;
        left: 0;
        margin: 0;
        position: absolute;
        width: 100%;
    }
        
    .userSign ul li {
        display: block;
        line-height: 40px;
        width: 100%;
        }
        
    .userSign li a {
        height: none;
        margin: 0;
        padding: 0 18px;
        width: 100%;
        }

    // Navigation
    #nav {   
        border: 0;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11);

        ul li .ico-workout {
            background: url('../images/ico-workout.png') 50% 50% no-repeat;
            background-size: 25px 25px;
            width: 45px;
            text-indent: -9999px;
        }

        ul li .ico-workouts {
            background: url('../images/ico-workouts.png') 50% 50% no-repeat;
            background-size: 22px 22px;
            width: 45px;
            text-indent: -9999px;
        }

        ul li .ico-calendar {
            background: url('../images/ico-calendar.png') 50% 50% no-repeat;
            background-size: 22px 22px;
            width: 45px;
            text-indent: -9999px;
        }
            
        ul li .ico-workout-info {
            background: url('../images/ico-workout-info.png') 50% 50% no-repeat;
            background-size: 25px 25px;
            width: 45px;
            text-indent: -9999px;
        }
    }
}